.ios, .md{
page-home {
    .resim{
        
        
        background:url("../assets/image/resim6.jpg") 0 0 no-repeat fixed;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    
    background-color:#f53d3d;
    }
    .a{
        min-height: 50px;
        max-height: 50px;
    }

    .b{
        
        .img{
            width:33%;
            height:100%;
            border-radius: 200px;
            margin-top:20px;
        }
        
    }
    .tetkik{
        h2{
            color:#fff;
        }
        @media all and (max-device-width:1200px){
            h2{
                font-size:45px;
            }
        }
        @media all and (max-device-width:720px){
            h2{
                font-size:30px;
            }
        }
        @media all and (max-device-width:640px){
            h2{
                font-size:25px;
            }
        }
        @media all and (max-device-width:360px){
            h2{
                font-size:20px;
            }
        }
    }
    .yazi{
        color:#fff;
     font-size: 300%;

    }
    .c{
        
        margin-bottom:30px;
    }
    .d{
        /*tc kimlik no top*/
        @media all and (max-device-width:1200px){
            
                margin-top:175px;
            
        }
        @media all and (max-device-width:768px){
            
                margin-top:90px;
            
        }
        @media all and (max-device-width:720px){
        
                margin-top:50px;
            
        }
        @media all and (max-device-width:640px){
            
                margin-top:60px;
            
        }
        @media all and (max-device-width:360px){
            margin-top:30px;
        }
        margin-bottom:0px;
        /*tc. No yazısı*/
        @media all and (max-device-width:1200px){
            h5{
                font-size:30px;
            }
        }
        @media all and (max-device-width:720px){
            h5{
                font-size:30px;
            }
        }
        @media all and (max-device-width:640px){
            h5{
                font-size:20px;
            }
        }
        @media all and (max-device-width:360px){
            h5{
                font-size:18px;
            }
        }
    }
    
    ion-icon{
            padding-top:20px;
        }
        input-placeholder{
            color:#fff;
        }
        hr{
            background-color:#fff;
        }
        h4,h5{
            color:#fff;
        }
    
        .e{
        margin-bottom:10px;
            /*input font*/
            @media all and (max-device-width:1200px){
            ion-input{
                font-size:40px;           
               border-bottom:2px solid #fff;

            }
        }
        @media all and (max-device-width:768px){
            ion-input{
                font-size:30px;
                border-bottom:2px solid #fff;

            }
        }
        @media all and (max-device-width:640px){
            ion-input{
                font-size:20px;
                border-bottom:1px solid #fff;
            }
        }
        @media all and (max-device-width:360px){
            ion-input{
                font-size:17px;
               border-bottom:1px solid #fff;

            }
        }
            /*icon boyut*/
            @media all and (max-device-width:1200px){
            ion-icon{
                font-size:60px;
            }
        }
        @media all and (max-device-width:768px){
            ion-icon{
                font-size:45px;
            }
        }
        @media all and (max-device-width:640px){
            ion-icon{
                font-size:27px;
            }
        }
        @media all and (max-device-width:360px){
            ion-icon{
                font-size:24px;
            }
        }


        

    }

    /*buton yükseklik*/
    .buton{
        @media all and (max-device-width:1200px){
            button{
                font-size: 35px;
                height: 70px;
                margin-top:50px;
                border:3px solid #fff;
            }
                
            
        }
        @media all and (max-device-width:769px){
            button{
                font-size:30px;
                margin-top:50px;

            }
                
            
        }
        
        @media all and (max-device-width:640px){
            button{
                font-size: 18px;
                height: 40px;
                
            }
                
            
        }
        @media all and (max-device-width:360px){
            button{
                font-size:15px;
            }
            
        }
    }
    
}


}

